anyio
asgiref
certifi
click
cycler
fastapi
fonttools
h11
idna
kiwisolver
matplotlib
munkres
numpy
olefile
packaging
Pillow
psycopg2
pydantic
pyparsing
python-dateutil
six
sniffio
SQLAlchemy
starlette
tornado
typing_extensions
unicodedata2
uvicorn
python-dotenv
pydantic[email]